@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

//Colors
$PriGreen:#18F990;
$PriBlue:#4764D6;

div{
    width: 100%;
    height: 100%;
    text-align: center;
    form{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;
        section{
            display: flex;
            input{
            }
            select{
                option{

                }
            }}
    }
}